<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.unit.orchestra_features.interactive.android">

    <application>

        <activity
            android:name=".OrchestraActivity"
            android:exported="false"
            android:theme="@style/OfiaTheme.Interactive.OrchestraFeatures" />

    </application>

</manifest>